[include fluidd.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_18E0000CA8943BAF4ABB685CC12000F5-if00

[virtual_sdcard]
path: /home/raspberry/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000

[include shell_command.cfg]

#[include autotune_tmc.cfg]
